<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <title>Mundo pokedex</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="main-header">
        Vue - Pokedex
    </header>
    <main id="app" class="main-view">
        <article class="pokemons-list">
            <div class="pokemon-card" v-for="pokemon in pokemons" :key="pokemon.id">
                <div  class="background-wrapper">
                    <div v-for="type in pokemon.types" :key="type" :style="{'background-color': typeColor[type]}"></div>
                </div>
                <span class="remove-pokemon" @click="removePokemon(pokemon)"><i class="material-icons">close</i></span>
                <div class="image-wrapper">
                    <img :src="pokemon.image" :alt="pokemon.name" class="pokemon-image">
                </div>
                <div class="pokemon-title">
                    {{pokemon.name}}
                </div>
            </div>
        </article>
    </main>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>